body{
    background-image: url("../image/ImageHorsConnexion.jpg");
    background-size: cover;
}

.BlocEcritureQuestion {
    font-size: 20px;
    font-family: "Segoe UI";
    color: #0160A2;
    text-align: center;
    background: rgba(29,29,29,0.9);
    border-radius: 5px;
    padding: 0px 0px 5px 0px;
    width: 100%;
    box-shadow: 8px 8px 5px #444;
}
.EcritureQuestion, .Mail_utilisateur{
    text-align: center;
    font-size: 18px;
    position: relative;
    height: 30px;
    width: 500px;
    color: white;
    transform: scale(1.2);
    background-color: unset;
    border: none;
    border-bottom: 1px solid cornflowerblue;
}

.ValidationQuestion{
    transform: scale(1.5);
    font-family: "Segoe UI", Serif;
    color : royalblue;
    border: unset;
    border-radius: 2px;
    background: unset;
}
.ValidationQuestion:hover{
    color : darkorange;
}
