body{
    background-image: url("../image/ImageHorsConnexion.jpg");
    background-size: cover;
}

.BlocEcritureQuestion {
    font-size: 20px;
    font-family: "Segoe UI";
    color: #ff820b;
    text-align: center;
    background: rgba(29,29,29,0.9);
    border-radius: 5px;
    padding: 0px 0px 5px 0px;
    width: 100%;
}
.EcritureQuestion, .Mail_utilisateur{
    text-align: center;
    font-size: 18px;
    position: relative;
    height: 30px;
    width: 500px;
    color: white;
    transform: scale(1.2);
    background-color: unset;
    border: none;
    border-bottom: 1px solid #797C80;
}
.ValidationQuestion{
    transform: scale(1.5);
    font-family: "Segoe UI", Serif;
    color : #797C80;
    border: unset;
    border-radius: 2px;
    background: unset;
}
.ValidationQuestion:hover {
    color : darkorange;
}

#questionreponse {
    margin-left:0;
    padding-left:0;
}

.question:hover {
    font-weight : bold;
    box-shadow : 8px 8px 8px #444444;
}
.question {
    margin: 5px;
    font-size: larger;
    padding: 4px 0px 4px 8px;
    display: inline-block;
    cursor: pointer;
    color : white;
    width: 100%;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    background-image: linear-gradient(180deg, darkgrey, #1D1D1D);
    background: #1D1D1D;
    list-style-type: none;
    border-radius : 5px;
}

.reponse {
    display: none;
    overflow: hidden;
    color : black;
    background: white;
    font-family: "Segoe UI";
    justify-content: center;
    margin: 10px;
    font-size: large;
    padding: 0px 0px 5px 0px;
    background: #797C80;
    list-style-type: none;
    margin-bottom: 5px;
    border-radius : 5px;
}
