body{
    background-image: url("../image/ImageBase.jpg");
    background-size : cover;
}

.pres{
    font-family: "Segoe UI";
    color: #ff820b;
    font-size: 30px;
}

.conteneur_interne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI";
    color: #0160A2;
    font-size: 20px;
    margin-top: 50px;
}

.radio{
    font-size: 15px;
}

