body{
    background-image: url("../image/ImageHorsConnexion.jpg");
    background-size: cover;
}

.BlocEcritureQuestion {
    font-size: 20px;
    font-family: "Segoe UI";
    color: #e2e2e2;
    text-align: center;
    background: rgba(29,29,29,0.9);
    border-radius: 5px;
    padding: 0px 0px 5px 0px;
    width: 100%;
}
.EcritureQuestion, .Mail_utilisateur{
    text-align: center;
    font-size: 18px;
    position: relative;
    height: 30px;
    width: 500px;
    color: white;
    transform: scale(1.2);
    background-color: unset;
    border: none;
    border-bottom: 1px solid #797C80;
}
.ValidationQuestion{
    transform: scale(1.5);
    font-family: "Segoe UI", Serif;
    color : #797C80;
    border: unset;
    border-radius: 2px;
    background: unset;
}
.ValidationQuestion:hover {
    color : #e2e2e2;
}

#questionreponse{
    margin-left:0;
    padding-left:0;
}

#question{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 40px;
    background: #1D1D1D;
    color: #e2e2e2;
    list-style-type: none;
}

.reponse{
    font-size: 17px;
    padding: 0;
    background: #1D1D1D;
    color: #797C80;
    list-style-type: none;
    height: 50px;
}