.retour{
    content: '';
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
    width: 13px;
    height: 13px;
    border-top: solid 3px white;
    border-right: solid 3px white;
    transform: rotate(-135deg);
}